{% load static %}
{% load bootstrap_icons %}
<div class="reaction-wrapper">
    {% if post in request.user.liked_posts.all %}
        <form action="{% url 'dislike' post.pk %}" method="post">
            {% csrf_token %}
            <button class="like" type="submit">
                <img src="{% static 'img/like-full.png' %}" class="icon" style="padding: 0;" alt="dislike">
            </button>
        </form>
    {% else %}
        <form action="{% url 'like' post.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="like">
                <img src="{% static 'img/like.PNG' %}" class="icon" alt="like">
            </button>
        </form>
    {% endif %}
    <img src="{% static 'img/comment.PNG' %}" class="icon" alt="">
    <img src="{% static 'img/send.PNG' %}" class="icon" alt="">
    <img src="{% static 'img/save.PNG' %}" class="save icon" alt="">
</div>
<p class="likes">{{ post.user_likes.count }} отметок "Нравится"</p>