{% load static %}
{% load bootstrap_icons %}
<div class="reaction-wrapper">
    <div class="like-{{ post.pk }} manage-likes" data-post="{{ post.pk }}" data-token="{{ csrf_token }}"
         data-url="{% url "like" %}" data-like="{% static 'img/like.PNG' %}"
         data-dislike="{% static 'img/like-full.png' %}">
        <img src="{% if post.pk in user_likes %}
                      {% static 'img/like-full.png' %}
                  {% else %}
                      {% static 'img/like.PNG' %}
                  {% endif %}" class="icon" style="padding: 0;" alt="like">
    </div>
        <img src="{% static 'img/comment.PNG' %}" class="icon" alt="comment">
        <img src="{% static 'img/send.PNG' %}" class="icon" alt="send">
        <img src="{% static 'img/save.PNG' %}" class="save icon" alt="">
    </div>
    <p class="likes post-likes-count-{{ post.pk }}">{{ post.likes.count }} отметок "Нравится"</p>